[Unit]
Description=Gunicorn instance to serve Flask App
After=network.target

[Service]
User={{ flask_user }}
Group={{ flask_group }}
WorkingDirectory={{ flask_app_dir }}
Environment="PATH={{ flask_app_dir }}/venv/bin"
ExecStart={{ flask_app_dir }}/venv/bin/gunicorn --workers {{ workers }} --bind 0.0.0.0:{{ flask_port }} app:app

[Install]
WantedBy=multi-user.target
